<div class="tab-content">  
    <br>  
    <div role="tabpanel" class="tab-pane active" id="home1">   
      <div class="row mb-3">  
          <div class="col-xl-3 col-lg-6">  
            <div class="card card-inverse card-success">  
              <div class="card-block bg-success">  
                <div class="rotate">  
                  <i class="fa fa-user fa-5x"> </i>  
                </div>  
                <h6 class="text-uppercase"> Users </h6>  
                <h1 class="display-1"> 34 </h1>  
              </div>  
            </div>  
          </div>  
          <div class="col-xl-3 col-lg-6">  
            <div class="card card-inverse card-danger">  
              <div class="card-block bg-danger">  
                <div class="rotate">  
                  <i class="fa fa-list fa-4x"> </i>  
                </div>  
                <h6 class="text-uppercase"> Posts </h6>  
                <h1 class="display-1"> 7 </h1>  
              </div>  
            </div>  
          </div>  
          <div class="col-xl-3 col-lg-6">  
            <div class="card card-inverse card-info">  
              <div class="card-block bg-info">  
                <div class="rotate">  
                  <i class="fa fa-twitter fa-5x"> </i>  
                </div>  
                <h6 class="text-uppercase"> Tweets </h6>  
                <h1 class="display-1"> 25 </h1>  
              </div>  
            </div>  
          </div>  
          <div class="col-xl-3 col-lg-6">  
            <div class="card card-inverse card-warning">  
              <div class="card-block bg-warning">  
                <div class="rotate">  
                  <i class="fa fa-share fa-5x"> </i>  
                </div>  
                <h6 class="text-uppercase"> Shares </h6>  
                <h1 class="display-1"> 36 </h1>  
              </div>  
            </div>  
          </div>  
        </div> 
    </div>  
    <div role="tabpanel" class="tab-pane" id="profile1">  
      <h4> Pro </h4>  
      <p>  
        2. Tabs are helpful to hide or collapse some additional content.  
      </p>  
    </div>  
    <div role="tabpanel" class="tab-pane" id="messages1">  
      <h4> Messages </h4>  
      <p>  
        3. You can really put whatever you want into the tab pane.  
      </p>  
    </div>  
    <div role="tabpanel" class="tab-pane" id="settings1">  
      <h4> Settings </h4>  
      <p>  
        4. Some of the Bootstrap 3.x components like well and panel have been dropped for the new card component.  
      </p>  
    </div>  
  </div>
  <div class="col-lg-12 col-md-12">  
    <div class="table-responsive">  
      <table class="table table-striped">  
        <thead class="thead-inverse">  
          <tr>  
            <th> Sr. No  </th>  
            <th> Label </th>  
            <th> Header </th>  
            <th>Column </th>  
            <th> Data </th>  
          </tr>  
        </thead>  
        <tbody>  
             <tr>  
            <td> 1,02 </td>  
            <td> read </td>  
            <td> web designers </td>  
            <td> theme </td>  
            <td> responsive </td>  
          </tr>  
          <tr>  
            <td>1,003</td>  
            <td> free </td>  
            <td> open-source </td>  
            <td> download </td>  
            <td> template </td>  
          </tr>  
             <tr>  
            <td> 1,05 </td>  
            <td> navbar </td>  
            <td> sticky </td>  
            <td> jumbtron </td>  
            <td> header </td>  
          </tr>  
          <tr>  
            <td> 1,06 </td>  
            <td> collapse </td>  
            <td> affix </td>  
            <td> submenu </td>  
            <td> footer </td>  
          </tr>  
           </tbody>  
      </table>  
    </div>  
  </div>  