input[type='file']{
    appearance: initial;
    text-indent: -999em;
    border:2px solid red;
    height: 160px;
    width: 200px;
    position: absolute;
}
.quantity{
    width: 50%;
}
.ml{
    background-color:#E3E4E8;
    text-align: center;
    padding: 5px;
}
.pImg{
    width: 60%;
}
textarea{
    width: 100%;
}