.img-pricing-1{
    text-align: left;
}

.pricing{
    background: #E3E4E8;
    

}
#pricing{
    background-color:#E3E4E8;
    /* margin-top: 20px; */
    padding: 0;
    margin-bottom: 10px;
}
.img-size{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(223, 220, 220);
    
    
    
    
    
}
.pricing-img{
    text-align: left;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(56, 124, 143);
    text-decoration: none;
}