 <!-- Products-->

<section class="section pb-3 " id="pricing">
    <div class="container container-fluid p-3">
        <div class="row ">
            <div class="col-md-4 ">
                <a [routerLink]="['/product',5]">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top  img-size" src="https://i.ibb.co/nDK4cbB/dhanthapala-removebg-preview.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">dhanthapala</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                    </div>
                  </div>
                </a>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top  img-size" src="https://athul8991.github.io/Rukma/img/virgin.JPG" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                    </div>
                  </div>
                
            </div>
        </div>
    </div>
</section>