 <div class="contianer ml-4">
    <div class="row">
        <div class="col-md-12 mb-4">
            <h2>Your Addresses</h2>
            <a [routerLink]="'../add-address'" class="btn  btn-outline-dark btn-lg ">Add Address</a>
        </div>
        
        
        <div class="col-md-4 mb-4" *ngFor="let address of addressArray ; let id =index">
            <div class="card" >
                <div class="card-body" style="width: 18rem;">
                  <h5 class="card-title">{{address.name}}</h5>
                  
                  <p class="card-text">{{address.houseNo}}</p>
                  <p class="card-text">Phone : {{address.mobile}}</p>
                  <p class="card-text">{{address.area}},{{address.town}}</p>
                  <p class="card-text">{{address.dist +' , '+address.state +' , ' + address.country}} </p>
                  <p class="card-text">Pin : {{address.pincode}}</p>
                  <hr>
                  <a [routerLink]="['../edit-address',id]" class="card-link">Edit</a>
                  <button class="card-link delete" (click)="onDelete(address)">Delete</button>
                </div>
              </div>

        </div>
       
    </div>
      </div>