
<div class="col-lg-5">  
    <div class="card">  
      <div class="card-header">  
        Dhanthapala 
      </div>  
      <div class="card-block">  
        <h4 class="card-title"></h4>  
        <form action="" >

        
        <div>
            <img class="card-img-top  img-size" src="https://i.ibb.co/nDK4cbB/dhanthapala-removebg-preview.png" alt="Card image cap">
                        
            <!-- <p class="card-text"> </p> -->
            <div class="form-group inline-form ml-3">
                <label for="100ml">100ml</label>
                <input type="number" name="100ml" id="100ml" class="form-Control" value="25" >
                <br>
                <label for="200ml">200ml</label>
                <input type="number" name="200ml" id="200ml" class="form-Control" value="10" >
                <br>
                <label for="300ml">300ml</label>
                <input type="number" name="300ml" id="300ml" class="form-Control" value="30" >
            </div>

        </div>
        <button type="button" class="btn btn-secondary btn-lg addstock-btn "> Add stock </button>  
    </form>
      </div>  
    </div>  
  </div>  