<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.ibb.co/nDK4cbB/dhanthapala-removebg-preview.png" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Dhanthapala</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a onmouseover="this.style.color='white' " onmouseout="this.style.color='black' " class="btn btn-outline-success" >Buy </a>
          <button class="btn btn-outline-danger ml-4" >Delete from Cart</button>
        </div>
      </div>
    </div>
  </div>