<div class="containter">
    <h2>Edit Product</h2>
    <hr>
    <form action="">
    <div class="row">
        <div class="col-md-8">
                <input type="text" class="pName mb-4" value="Dhanthapala">
                <div class="row" >
                    <div class="col-md-12 ">
                        <textarea name="" id="" cols="50" rows="5"></textarea>
                        <hr>
                    </div>
                    <div class="col-md-4 form-group ml ">
                        <label for="100ml">100ml</label>
                        <br>
                        <input class="form-Control quantity ml " type="number" placeholder="250">
                    </div>
                    <div class="col-md-4 form-group ml">
                        <label for="200ml">200ml</label>
                        <br>
                        <input class="form-Control quantity ml" type="number" placeholder="450">
                    </div>
                    <div class="col-md-4 form-group ml">
                        <label for="500ml">500ml</label>
                        <br>
                        <input class="form-Control quantity ml" type="number" placeholder="850">
                    </div>
                    <button class="btn btn-outline-success btn-lg" style="margin: auto;width: 150px;">Save</button>
                    
                </div>
            </div>
            <div class="col-md-4">
                <img src="https://i.ibb.co/nDK4cbB/dhanthapala-removebg-preview.png" class="card-img img-size" alt="...">
            </div>
        </div>
    </form>
</div>
