<section>
    <div class="container container-fluid">
        <form action="">
        <div class="row mt-4">
            <div class="col-md-4 imgborderleft">
                <img class="card-img-top  img-size" src="https://i.ibb.co/nDK4cbB/dhanthapala-removebg-preview.png" alt="Card image cap">
                   
            </div>
            
        
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{product.name}}</h1>
                    </div>
                    <hr>
                    <div class="col-md-12">
                        <p>{{product.description}}</p>
                        <p>sdfsadsvsfdhdfbsdvsdfsfdhretasasdlfasiu</p>
                        <p>sdfslfasiu</p>
                    </div>
                    <hr>
                    
                    <div class="col-md-12" *ngFor="let price of product.priceArray">
                        <h4 >500</h4>
                       
                    </div>
                    <hr>
                    
                        <div class="col-md-3 mlborder">
                            <input type="radio" checked name="ml" [(ngModel)]="selectqty" id="" value="100">
                            <img width="30px" src="https://i.ibb.co/nDK4cbB/dhanthapala-removebg-preview.png" alt="" >
                            <span for="">100 ml</span>
                           
                        </div>
                        <div class="col-md-3 mlborder">
                            <input type="radio" name="ml" [(ngModel)]="selectqty" id="" value="200">
                            <img width="30px" src="https://i.ibb.co/nDK4cbB/dhanthapala-removebg-preview.png" alt="" >
                            <span for="">200 ml</span>
                            
                        </div>
                        <div class="col-md-3 mlborder">
                            <input type="radio" name="ml" [(ngModel)]="selectqty" id="" value="500">
                            <img width="30px" src="https://i.ibb.co/nDK4cbB/dhanthapala-removebg-preview.png" alt="" >
                            <span for="">500 ml</span>
                           

                        </div>
                        <div class="col-md-4 form-group mt-4">
                            <select class=" form-control form-control-lg" id="">
                                <option value=""  >quantity</option>
                                <option *ngFor="let number of qtyArray" [value]="number"> {{number}}</option>
                            </select>
                        </div>
                        <hr>
                        <div class="col-md-3 ">
                            <button class="btn btn-outline-success btn-lg">Buy Now</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-warning btn-lg">Add To Cart</button>
                        </div>
                    
                </div>
                
            </div>
        </div>
    </form>
    </div>
</section>
