<section>
    <div class="container container-fluid">
        <div class="row mt-4">
            <div class="col-md-4 imgborderleft">
                <img class="card-img-top  img-size" src="https://i.ibb.co/nDK4cbB/dhanthapala-removebg-preview.png" alt="Card image cap">
                   
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Dhanthapala</h1>
                    </div>
                    <hr>
                    <div class="col-md-12">
                        <p>sdfsadsvsfdhgdhdgbclfasiu</p>
                        <p>sdfsadsvsfdhdfbsdvsdfsfdhretasasdlfasiu</p>
                        <p>sdfslfasiu</p>
                    </div>
                    <hr>
                    <div class="col-md-12">
                        <h4>₹ 499</h4>
                    </div>
                    <hr>
                    
                        <div class="col-md-3 mlborder">
                            <img width="30px" src="https://i.ibb.co/nDK4cbB/dhanthapala-removebg-preview.png" alt="" >
                            <span for="">100 ml</span>
                            <input  type="number" name="" id="">
                        </div>
                        <div class="col-md-3 mlborder">
                            <img width="30px" src="https://i.ibb.co/nDK4cbB/dhanthapala-removebg-preview.png" alt="" >
                            <span for="">200 ml</span>
                            <input  type="number" name="" id="">
                        </div>
                        <div class="col-md-3 mlborder">
                            <img width="30px" src="https://i.ibb.co/nDK4cbB/dhanthapala-removebg-preview.png" alt="" >
                            <span for="">500 ml</span>
                            <input  type="number" name="" id="">

                        </div>
                        <div class="col-md-3">

                        </div>
                        <hr>
                        <div class="col-md-3 ">
                            <button class="btn btn-outline-success btn-lg">Buy Now</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-warning btn-lg">Add To Cart</button>
                        </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</section>
