#sign-in{
    height: 100vh;
    background-image: url('https://athul8991.github.io/Rukma/img/background.jpg');
    position: relative;

  }

  .loginContainer{
    width: 95%;
    /* background: rgb(247, 247, 247); */
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    padding: 10px;
    /* color: rgb(206, 7, 7); */
    background-color: #f3f4fa;
    opacity: .8;
    color: black;
  }
  .form-group input{
    background: none;
    color: black;
    /* border: none; */
  }
  .form-group input::placeholder{
    color: black;
  }
  .form-control:focus{
    color:black;
    outline: 1px solid black;
    border: 0px;
    box-shadow: none;

  }
  .form-control{
    outline: 1px solid black;
  }
.btn-outline-dark{
    color: black;
    font-weight: bold;
}
.Register{
    display: block;
    margin-top: 10px;
    font-weight: bold;
    margin: auto;
}
.forgot{
    color:green;
    text-align: center;
    margin-bottom: 10px;
    
}
.forgot:hover{
    text-decoration: none;
    color: black;
}
