.circle-link {
    /* height: 40px;*/
    /* width:fit-content; */
    border-radius: 10px;
    margin: 8px;
    /* border: 1px solid #eeeeee; */
    border: none;
    /* display: flex; */
    
    
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: .5s ease-out;
  } 

.circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 1px 3px 15px rgb(74, 73, 74);
    background-color: white;
  }

  .iconsize{
    
    width: 50px;
  }
  .oneline{
   float: left;
   
  }
  .card-width{
    width: 320px;
    
  }