<!-- 
<div class="col-lg-5">  
    <div class="card">  
      <div class="card-header">  
        Dhanthapala 
      </div>  
      <div class="card-block">  
        <h4 class="card-title"></h4>  
        <div>
            <img class="card-img-top  img-size" src="https://i.ibb.co/nDK4cbB/dhanthapala-removebg-preview.png" alt="Card image cap">                
        </div>
        <button type="button" class="btn btn-secondary btn-lg addstock-btn " (click)="editProduct(this)"> Add stock </button>  
      </div>  
    </div>  
  </div>   -->
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.ibb.co/nDK4cbB/dhanthapala-removebg-preview.png" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Dhanthapala</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a class="btn btn-outline-dark" [routerLink]="['../editproduct',1]">Edit</a>
        </div>
      </div>
    </div>
  </div>