<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
<meta name="description" content="Rukma">
<title>Rukma oil</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Sail&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- 
<link rel="stylesheet" type="text/css" href="css/homestyle.css"> -->
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-scroll-top bg-light">
      <a class="navbar-brand" [routerLink]="'/'">
        <img src="https://i.ibb.co/4T42gy4/Rukma-Logo.png" width="80" height="30" class="d-inline-block align-top" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
         
          <li class="nav-item " *ngIf="!userLogin">
            <a class="nav-link" [routerLink]="'/login'">Sign-in</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/products'">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/about'">About Us</a>
          </li>
          <li class="nav-item" *ngIf="userLogin">
            <div class="dropdown">
              <button class="  userbtn" type="button" id="" [ngStyle]="{'background-image':'url('+userImg+')'}" (click)="drop=!drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               User
              </button>
              <div class="dropdown-menu dropdown-menu-right mt-2 " [ngClass]="{'show':drop}" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" [routerLink]="['./user']" >My Profile</a>
                <a class="dropdown-item" href="#">Orders</a>
                <a class="dropdown-item" href="#">Cart</a>
                <a class="dropdown-item" href="#">Customer Support</a>
                <a class="dropdown-item " style="cursor: pointer;"  (click)="logout()">Logout</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  
  <!-- Content start -->

  <div class="container-fluid m-0 p-0 outer-box">
    <router-outlet></router-outlet>
    
  </div>
   

  

    
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
