*{
    margin: 0;
    padding: 0;
}

.nav-link{
    color:rgb(38, 32, 32);
    font-weight: 900;
    transition: color 1s;
}
.nav-link:hover{
    color:rgb(69, 69, 210);
}

/* .our-story{
    padding: 10px;
    
} */
  /* #about{
    
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 30px;
    
    height: 100vh;
    position: relative;
    text-align: center;
  }
  .about-container p{
    font-size: 20px;
  }
.about-container{
    text-align: center;
    


}
   */
   /*
.bg-light{
    /* background: none; 

}*/
/* .navbar-brand {
    /* color: white; 
    margin-left: 20px;
    font-family:'Sail','cursive';
    font-size: 2rem;
    margin-top: -20px;
    /* position: absolute; 
} */
/* .outer-box{
    position: relative;
} */
.userbtn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

 


